<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码找回2</title>
    <style>
        #main{
        width: 700px;
        height: 450px;
            margin: 50px auto;
        background-image: url(../static/image/密码找回背景.png);
        background-repeat: no-repeat;
        background-position: center;
        }
        #indiv{
            width: 500px;
            height: 450px;
            position: absolute;
        }
        #table{
            position: absolute;
            margin-top: 150px;
            margin-left: 20px;
        }
    </style>
</head>
<body>

    <div id="main">
        <div id="indiv">
        <form action="teacher_getback_pwd2" method="post" id="table">{% csrf_token %}
        <p>
            验证问题: <span id="wenti" style="color: blue">{{question}}</span>
        </p>
        <p>
            请输入问题的答案: <input type="text" style="width: 250px;height: 25px;" name="answer">
        </p>
        <p>
            <button id="tijiao" type="submit">提交</button>
            <a href="/teacher" style="text-decoration: none"><button class="p2" type="button">点击返回登录页</button></a>
        </p>
        <p>
            <span style="color: red">{{msg}}</span>
        </p>
        </div>
    </div>
    </form>

</body>
</html>