{% extends "./root_template.html" %}

{% block title %}
    教师信息管理
{% endblock %}

{% block url %}{% endblock %}

{% block table %}
    <tr><th>ID</th><th>姓名</th><th>密码</th><th>性别</th><th>职称</th><th>联系方式</th><th>操作</th></tr>
    {% for key,value in context.items %}
        <tr>
            {% for k1,v1 in value.items %}
                <td>{{ v1 }}</td>
            {% endfor %}
            <!--修改按钮-->
            <td>
                <form action="changeTeacherInfo" method="get">
                    <input type="hidden" name="tid" value="{{ value.tid }}">
                    <button type="submit">修改 获取到的ID:{{ value.tid }}</button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}